*
!workflow
!workflow/scripts
!workflow/scripts/*
workflow/scripts/.snakemake*
!workflow/Snakefile
!config
#!config/units_template.xlsx
!config/config.yaml
!config/samples.tsv
!config/units.tsv
!config/keep_chroms.txt
!resources
!resources/*
!workflow/envs
!workflow/envs/*
#!environment.yaml
#!LICENSE
!README.md
!workflow/rules
!workflow/rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
